<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj książkę</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="container">
        <h1>Edytuj książkę</h1>
        <form action="/edit_book/<%= bookIndex %>" method="post">
            <input type="text" name="title" placeholder="Tytuł" value="<%= book.title %>">
            <input type="text" name="author" placeholder="Autor" value="<%= book.author %>">
            <input type="text" name="year" placeholder="Rok wydania" value="<%= book.year %>">
            <button type="submit">Zapisz zmiany</button>
        </form>
    </div>
</body>
</html>